<!DOCTYPE html>
<html>

<head>
  <title>Diary application</title>
  <link rel="icon" href="/purple-heart.png" type="image/heart">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>

