<!DOCTYPE html>
<html>

<head>
  <title>Diary application</title>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
  <h1>Add an entry</h1>

  <form action="/submit" method="POST" class="diary-entry-form">
    <input type="text" name="title" class="entry-title" placeholder="Title">
    <br /><br />
    <textarea name="content" placeholder="Diary entry"></textarea>
    <br /><br />
    <button type="submit" id="entryButton">OK</button>
</form>


</body>

</html>