<%- include("partials/header.ejs") %>

<div class="page-top">
    <a href="/"><img src="/home-icon.png"></a>
    <h1>Add an entry</h1>
</div>



  <form action="/submit" method="POST" class="diary-entry-form">
    <input type="text" name="title" class="entry-title" placeholder="Title">
    <textarea name="content" placeholder="Diary entry"></textarea>
    <br />
    <button type="submit" id="entryButton">OK</button>
</form>

<%if (locals.message) {%>
    <span id="success-message"><%= message %></span>

  <%};%>

</html>